<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/public/static/css/jmslider.css">
		<link rel="stylesheet" type="text/css" href="/public/static/home/css/index.css">
		{include file="Public/public_head"/}
	</head>
	<body>
		{include file="Public/public_nav"/}
		{include file="Public/public_slider"}
		<div class="b-h-70"></div>
		<div id="b-content" class="container">
			<div class="row">
				{include file="Public/public_list"/}
				{include file="Public/public_right"/}
			</div>
			
		</div>
		<div class="row">{include file="Public/public_foot"/}</div>
		<!-- <include file="Public/public_login"/> -->
	</body>
	<script src="/public/static/js/jm-slider.js"></script>
	<script>
		jQuery(document).ready(function($) {
		  $('#slider').Slider();
		});
	</script>
</html>